.container {
    padding: 20px;
}

.cardHeader{
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
}

.added-height {
    line-height: 2;
}

.report-parameters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-selected {
    width: 15%;
    margin-top: 8px;
    color: #4bb8b0;
    border-color: #4bb8b0;
}

.preview {
    background: #4BB8B0;
    width: 15%;
    color: #fff;
}

.filter-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mg-r-20 {
    margin-right: 20px;
}

.ln-h-3 {
    line-height: 3;
}

.inline {
    display: inline;
}

.pd-l-10 {
    padding: 0 0 0 10px;
}

.pd-l-2 {
    padding: 0 0 0 2px;
}