.container{
    margin: 1.5vw;
}
.chartDiv{
    width: 100%; 
    height: 200px; 
    display: block;
}
.overview {
    font-size: 22px;
    line-height: 27px;
    text-align: left;
}
.box-title {
    font-size: 19px;
    font-weight: 900;
}
.m10{
    margin-top: 10px;
}
.cardHeader{
    font-family: Lato;
    font-weight: 900;
    font-size: 1.5em;
  }