<!-- <div class="container">
    <div  style="flex: 1;">
        <mat-card >
            <mat-card-header>
              <mat-card-title><b>Awaiting Approvals</b></mat-card-title>
            </mat-card-header>
            <mat-card-content class="m10">
                <div class="container singleDiv" *ngFor="let approval of approveData">
                    <div style="flex: 1;">
                        <h3><strong>{{approval.name}}</strong></h3>
                    </div>
                    <div style="flex: 1;text-align:center">
                        <span class="txtColor">{{approval.rs}}</span>
                        <p class="dollarClr">{{approval.dl}}</p>
                    </div>
                    <div style="flex: 1;text-align:right">
                        <button mat-flat-button color="seagreen">PROCESS APPROVALS</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->
<mat-card style="min-height: 325px;">
    <mat-card-header style="font-size: 19px;font-weight: 900;margin-left:-20px;">
       <span>Awaiting Approvals</span> 
    </mat-card-header>
    <mat-card-content class="m10" >
        <table 
            mat-table 
            [dataSource]="dataSource" 
            class="mat-elevation-z8" 
            style="width: 100%;box-shadow:none">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <td mat-cell *matCellDef="let element" style="text-align: left;padding:1em"> {{element.name}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="rs">    
              <td mat-cell *matCellDef="let element" class="txtColor" style="padding:1em"> {{element.rs}} </td>
            </ng-container>

            <ng-container matColumnDef="btn">    
                <td mat-cell *matCellDef="let element" style="text-align: right;"> 
                    <button mat-flat-button color="seagreen" style="font-size:12px;">{{element.btn}}</button>
                 </td>
              </ng-container>
          
        
          
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card-content>
</mat-card>

  

