
<mat-card>
  <mat-card-header>
      <mat-card-title class="box-title">Campaign A</mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <highcharts-chart
        [Highcharts] = "camAchart" 
        [options] = "camAOptions" 
        class="chartDiv">
     </highcharts-chart>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
      <mat-card-title class="box-title">Campaign B</mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <highcharts-chart
        [Highcharts] = "camBchart" 
        [options] = "camBOptions" 
        class="chartDiv">
     </highcharts-chart>  
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
      <mat-card-title class="box-title">Campaign C</mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <highcharts-chart
        [Highcharts] = "camCchart" 
        [options] = "camCOptions" 
        class="chartDiv">
     </highcharts-chart> 
  </mat-card-content>
</mat-card>



    