
.content{
    background-color: #f6f9fc;
    width:100%;
    height:100%;
}
.mat-toolbar {
    background-color: #f6f9fc;
}
.flex-container {
    margin:auto;
    display: flex;
    flex-direction: row;
  }

  .pay-box {
      background-color:#fff;
      width:265px;
      height: 141px;
      box-shadow:0 0px 14px 6px #eef1f5;
      border-radius:4px;
      text-align: center;
      margin:18px;
  }

  .mat-card-content {
    text-align: center;
  }

  .mat-card-content > span {
    width:100%;
    display:inline-block;
  }

  .pay-container {
      margin-top:35px;
  }

.file-container {
    margin: 20px;
}

.file-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-tile-title {
  font-weight: 600;
  text-align: center;
}

.data-visualizations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*align-items: center;*/
}
.box-shadow {
    box-shadow: 0px 2px 8px 0 rgba(51, 60, 75, 0.2);
    padding: 30px;
    width: 17%;
    max-width: 200px;
}
.box-title {
    font-size: 19px;
    font-weight: 900;
}
.box-green{
    color: #6cc551;
    font-size: 22px;
}
.box-red {
    color: #E03616;
    font-size: 22px;
}
.box-grey {
    font-size: 11px;
    color: #999999;
}
.container-row {
    display:flex;
    flex-direction: row;
}


#resp-table {
    width: 100%;
    display: table;
}

#resp-table-header{
    display: table-header-group;
    
    height: 65px;
    width: 494px;
    background-color: rgba(35,100,170,0.06);
}

.table-header-cell{
    display: table-cell;
    height: 65px;
    line-height: 4;
    color: #434343;
    font-family: Lato;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 0;
    text-align:center;

    
}

#resp-table-body{
    display: table-row-group;
}

.resp-table-row{
    display: table-row;
    height: 65px;
    width: 494px;
}

.odd {
    background-color: rgba(35,100,170,0.06);
}

.even {
    background-color: rgba(35,100,170,0.03);
}

.table-body-cell{
    display: table-cell;
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 4;
}

.arrow-up-small {
    height: 12px;
    width: 13px;   
}

.arrow-down-red {
    height :18px;
    width: 19px;
}

.green {
 color: #6CC551;
}

.red {
    color: #E03616;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card { 
  border: solid 1px #1ed2c5;
  box-shadow: none;
  width: calc((100% - 80px)/ 4);
  margin: 0 0 20px;
  min-width: 200px;
  cursor: pointer;
}


.selected::after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -21px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: 18px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.body-text {
  font-family: Lato;
  font-size: 18px;
}

.tile-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}


.arrow-icon {
  height: 15px;
  margin-right: 5px;
}

.example-element-row td:first-child {
    color: #4bb8b0;
    font-weight: bold;
}

.from-last-month {
  color: #999999;
  font-family: Lato;
  font-size: 11px;
}


.card:hover, .selected {
  background-color: #4bb8b0;
  color: #fff
}

.selected .body-text,
.selected .from-last-month,
.card:hover .body-text,
.card:hover .from-last-month,
.card:hover .arrow {
  color: #fff;
}


table {
    width: 100%;
}

.table-style {
    padding: 0 20px 20px;
}

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;

  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #f2f6fa;
  }
  
  .example-element-row td {
    background: #f2f6fa;
    border-bottom-width: 0;
  }

  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding-left:16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .mat-form-field {
    margin-top: 16px;
  }  

.status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #ddd;
    border-bottom: none;
}

.example-element-description {
    width: 100%;

}

.padded-box {
    padding: 40px 20px;
}


.table-header-title {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
  width: 20%;
  text-align: center;
}

.table-row-title {
  font-size: 14px;
  text-align: center;
}

.mat-column-expandedDetail {
  padding-right: 0 !important;
}

.remittance-box {
  width: 50%;
  padding: 15px;
  border-left:solid 1px #ddd;
}

.file-info-box {
  width: 50%;
  padding: 15px;
}

.inner-box-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.iiner-box-title {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px !important;
}

.stepper-container {
  height: 90px;
}

.mat-label {
  padding: 1px 0 0 !important;
}

.mat-horizontal-stepper-header {
  padding: 20px !important;
}
.inner-box {
  width: 50%;
}

.inner-box-subtitle {
  font-size: 12px;
  color: #434343;
  font-weight: 600;
  line-height: 1.8;
}

.inner-box-span {
  font-size: 12px;
  color: #434343;
  font-weight: 400;
  line-height: 1.8;
}

.inner-box-color-span {
  font-size: 12px;
  color: #4bb8b0;
  font-weight: 400;
  line-height: 1.8;
}
.inner-box-button {
    display: block;
    margin: 15px auto 0;
    min-width: 200px;
    color: #4bb8b0;
    border: solid 1px #4bb8b0;
}

.inner-box-button-small {
  display: block;
  width: 120px;
  color: #4bb8b0;
  border: solid 1px #4bb8b0;
}


.inner-box-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}