<mat-sidenav-container fullscreen autosize>
  <mat-sidenav mode="side" opened class="side-nav">
    <img src="assets/images/incedo-pay.svg" class="logo" />
    <div class="user-details">
      <img src="assets/images/User.png" width="30" class="user-img" />
      <div>
        <div class="content-sm">John Smith</div>
      </div>
    </div>

    <mat-list role="list">
      <ng-container *ngFor="let listItem of navigationList">
        <mat-list-item role="listitem" (click)="menuClicked(listItem)" class="side-nav-item"
          *ngIf="!listItem.parent || listItem.isVisible">
          <a matLine routerLink="/{{listItem.link}}" routerLinkActive="active"
            [ngClass]="{'sub-item': listItem.parent}"
            [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            <mat-icon matListIcon class="nav-icon center">{{listItem.icon}}</mat-icon>
            <span class="content-sm">{{listItem.title}}</span>
            <mat-icon *ngIf="listItem.isMulti" matListIcon class="nav-icon center">keyboard_arrow_down</mat-icon>
          </a>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar class="header shadow bg-white">
      <div class="page-title">
        <h1 class="mat-h1">{{title}}</h1>
      </div>
      <div class="toolbar-content">
        <mat-form-field style="width: 150px; line-height: 2;">
          <mat-label style="font-size: 12px;">Date Duration</mat-label>
          <mat-select panelClass="content-md" [(value)]="selected">
            <mat-option *ngFor="let date of dateValues" [value]="date.value" style="font-size: 12px;">
              {{date.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon svgIcon="notification-received" class="icon-margin"></mat-icon>
        <mat-icon class="icon-margin content-lg">power_settings_new</mat-icon>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>