main {
    padding: 20px;
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.suppliers-card-container {
    max-width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.suppliers-overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tile-title {
    font-weight: 600;
    text-align: center;
}

.tile-card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon {
    height: 15px;
}

.card { 
    border: solid 1px #1ed2c5;
    box-shadow: none;
    width: calc((100% - 80px)/ 4);
    margin: 0 0 20px;
    min-width: 200px;
}
  
.from-last-month {
    color: #999999;
    font-family: Lato;
    font-size: 11px;
    text-align: center;
}

.body-text {
    font-family: Lato;
    font-size: 18px;
}

.overview-tiles {
    flex: 1 1 100%;
    margin: 0 10px;
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.yellow {
    color: #dada07e0;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.margin-top-10  {
    margin-top: 10px;
}

.tile-content-value{
    display: flex;
    align-items: center;
    justify-content: center;
}

.suppliers-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.tile-content-value span {
    padding-left: 5px;
}

.supplier-icon {
    width: 40px;
    margin: 10px 0;
}

.clickable {
    cursor: pointer;
    padding: 0 10px;
    color: #333c4b;
}

.suppliers-table {
    margin: 10px 20px;
    width: 95%;
}

.header-row {
    height: 35px;
    background: #333c4b;
}

.header-row th {
    color: white;
}

.right {
    float: right;
    font-weight: bold;
    color: #4bb8b0;
}

.data-row {
    height: 30px;
    background: #f2f6fa;
}

.no-margin {
    margin: 0;
}

.view {
    flex: 6;
}

.information {
    max-width: 35%;
    padding: 20px;
    min-height: 441px;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 0 !important;
    padding: 3px !important;
    margin: 3px !important;
}

.card-details {
    width: 150px;
    height: 140px;
    cursor: pointer;
    box-shadow: none;
    border-radius: 0;
    border: solid 0.5px #ddd;
    position: relative;
}


.card-details:hover .suppliers-name, .selected {
    color: #fff;
}

.dot-style {
    position: absolute;
    right: 3px;
    top: -2px;
}

.card-details:hover, .selected, .card:hover {
    border: 1px solid #4bb8b0;
    color: #fff !important;
}

.card-details:hover, .data-row:hover, .selected, .card:hover {
    background: #4bb8b0;
}

.data-row:hover td, .selected td,
.card:hover .body-text, .card:hover .arrow,
.card:hover .from-last-month {
    color: #fff !important;
}

.selected::after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -21px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: 18px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-details {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.img-holder {
    width: 75px;
    height: 75px;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payee-info-title {
    font-size: 16px;
    color: #333c4b;
    font-weight: 600;
    margin: 15px 0 !important;
    text-align: center;
}


.info-container {
    
}

.info-container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.info-body-text {
    font-size: 13px;
    color: #999999;
    font-weight: 500;
    font-family: "Loto";
}

.info-body-bold-text {
    color: #333c4b;
    font-size: 13px;
    font-weight: 600;
    margin-left: 20px;
}


.user-pic {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container-footer {
    width: 220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-button {
    border-radius: 0 !important;
}

.info-container-footer .mat-icon {
    font-size: 14px !important;
    height: 13px !important;
    width: 13px !important;
    padding-right: 0 !important;
}

.info-container-footer button{
    min-width: 47px !important;
}

.contact-img-holder {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5px;
}

.contact-card {
    width: 235px;
    border-radius: 0 !important;
    padding: 10px 15px;
    margin: 15px auto;
}


.contact-card-title {
    font-size: 10px;
    color: #333c4b;
    font-weight: 600;
    text-align: center;
    margin-bottom: 4px;
}

.card-info-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -6px;
}