/* You can add global styles to this file, and also import other style files */

/* @import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"); */

html, body { height: 100%;}
* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, a, span {
    margin: 0 !important;
    padding: 0 !important;
}
body, * { margin: 0; font-family: "Lato", "Helvetica Neue", sans-serif; font-size: 14px; }
div.mat-list-item-content, .mat-list-text {
    padding: 0px !important;
}
.content-lg {
    font-size: 16px;
}


.content-md {
    font-size: 14px;
}

.content-sm {
    font-size: 12px;
}

.content-xs {
    font-size: 10px;
}


.status-container .mat-step-icon-content .ng-star-inserted {
    display: none !important;
}

.status-container .mat-step-icon {
    width: 11px !important;
    height: 11px !important;

}

.status-container .mat-horizontal-stepper-header:not(:first-child)::after, 
.status-container .mat-horizontal-stepper-header:not(:first-child)::before, 
.status-container .mat-horizontal-stepper-header:first-child::after {
    top: 29px !important;
    width: calc(50% - 5px) !important;
}

.status-container .mat-step-label {
    padding: 10px 0 0 0 !important;
    font-size: 11px !important;
    color: #999999 !important;
    font-weight: 500 !important;
}