/* You can add global styles to this file, and also import other style files */

/* @import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"); */

html, body { height: 100%;}
* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, a, span {
    margin: 0 !important;
    padding: 0 !important;
}
body, * { margin: 0; font-family: "Lato", "Helvetica Neue", sans-serif; font-size: 14px; }
div.mat-list-item-content, .mat-list-text {
    padding: 0px !important;
}
.content-lg {
    font-size: 16px;
}

.content-md {
    font-size: 14px;
}

.content-sm {
    font-size: 12px;
}

.content-xs {
    font-size: 10px;
}
