<div class="flex-container">
   <div>
       <app-awaiting-approval></app-awaiting-approval>
   </div>
    <div>
        <mat-card>
            <mat-card-header style="display: flex;">
                <div style="flex:1;text-align:left;padding-top:10px;">
                    <mat-card-title style="font-size: 19px;font-weight: 900;margin-left:-25px">{{cardHeader}}</mat-card-title>    
                </div>
                <div style="flex: 1;">
                    <mat-card-title>
                        <mat-button-toggle-group 
                            appearance="legacy" 
                            name="fontStyle" 
                            aria-label="Font Style"
                            value="amount"
                            #group="matButtonToggleGroup"
                            (change)="handleChange($event)"
                            style="font-size: 14px;">
                            <mat-button-toggle value="amount">Amount</mat-button-toggle>
                            <mat-button-toggle value="volume">Volume</mat-button-toggle>
                          </mat-button-toggle-group>
                     </mat-card-title>
                </div>
                
             
            </mat-card-header>
            <mat-card-content >
                <app-amount-per-pay-type 
                    *ngIf="group.value == 'amount'"
                    class="no-border"
                    [cardHeader]="">
                </app-amount-per-pay-type>
                <app-payment-vol 
                    *ngIf="group.value == 'volume'"
                    class="no-border"
                    [cardHeader]="">
                </app-payment-vol>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <app-supplier-activation></app-supplier-activation>
    </div>  
    <div>
        <app-campaign-progress></app-campaign-progress>
    </div>
    
  </div>

<!-- <div class="flex-supplier">
    <mat-card >
        <mat-card-content class="flex-supplierInner">
            <div class="text-center box-border-right">
                <span class="box-title">Payment</span><br>
                <span class="box-green-text">100</span>
            </div>
            <div class="text-center">
                <span class="box-title">Total (USD)</span><br>
                <span class="box-green-text">50,000</span>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card >
        <mat-card-content class="flex-supplierInner">
            <div class="text-center box-border-right">
                <span class="box-title">Payment</span><br>
                <span class="box-green-text">100</span>
            </div>
            <div class="text-center">
                <span class="box-title">Total (USD)</span><br>
                <span class="box-green-text">50,000</span>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card >
        <mat-card-content>
            <div class="text-center">
                <span class="box-title">Supplier Profiles</span><br>
                <span class="box-green-text">10</span>
            </div>
        </mat-card-content>
    </mat-card>

</div> -->
 

<!-- <app-campaign-completion></app-campaign-completion> -->
