<div class="flex-container">
    <div class="child-container">
        <app-awaiting-approval></app-awaiting-approval>
    </div>
    <div class="child-container">
        <mat-card>
            <mat-card-title class="cardHeader">
                <div class="content-lg">Payments by Type</div>
                <div>
                    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" value="amount"
                        #group="matButtonToggleGroup" (change)="handleChange($event)">
                        <mat-button-toggle value="amount">Amount</mat-button-toggle>
                        <mat-button-toggle value="volume">Volume</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div>
                    <button mat-button (click)="router.navigate(['/payments']);">
                        <mat-icon class="content-md icon-view-all">remove_red_eye</mat-icon>
                        <span class="content-sm" style="color: #4BB8B0;">View All</span>
                    </button>
                </div>
            </mat-card-title>
            <mat-card-content>
                <app-amount-per-pay-type *ngIf="group.value == 'amount'" class="no-border" [cardHeader]="">
                </app-amount-per-pay-type>
                <app-payment-vol *ngIf="group.value == 'volume'" class="no-border" [cardHeader]="">
                </app-payment-vol>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="child-container">
        <app-supplier-activation></app-supplier-activation>
    </div>
    <div class="child-container">
        <app-campaign-progress></app-campaign-progress>
    </div>
</div>